.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* custom styling  */
.container , form{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.gif--list {
  display: flex;
  flex-flow: row wrap;
}


.content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.card--actions {
  display: flex;

}

.ui.cards~.ui.cards {
  margin-top: 0;
}

.ui.cards {
  margin: 0;
}

.ui.card img {
  background: rgb(149, 145, 137);
}

img.ui.medium.image {
  height: 280px;
  object-fit: contain;
}

.btn--logout {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
}